<div class="conteiner" *ngIf="cartService.longOrders$ | async as longOrders">
  <div *ngIf="longOrders.length > 0; else empty">
    <p-table [value]="longOrders">
      <ng-template pTemplate="header">
        <tr>
          <th>Изображение</th>
          <th>Название</th>
          <th>Цена</th>
          <th style="text-align: center">Количество</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-longOrder>
        <tr>
          <td>
            <img
              src="{{url}}/{{ longOrder.product.img }}"
              alt="device"
              style="width: 50px"
            />
          </td>
          <td>{{ longOrder.product.name }}</td>
          <td>{{ longOrder.product.price }}руб</td>
          <td style="text-align: center">
            <p-inputNumber [ngModel]="longOrder.count" mode="decimal"
                           [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="100"
                           (ngModelChange)="cartService.changeCount(longOrder.product.id, $event)">
            </p-inputNumber>
          </td>
          <td style="text-align: center">
            <button
              pButton
              pRipple
              type="button"
              class="p-button-danger"
              (click)="delete(longOrder.product.id)"
            >
              Удалить
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div style="font-size: 20px">
      Цена всех товаров: {{ cartService.totalPrice$ | async }}руб
    </div>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-success"
      style="margin: 10px auto; display: block"
    >
      Перейти к оформлению заказа
    </button>
  </div>
  <ng-template #empty>
    <p class="text-center" style="text-align: center; font-size: 40px">
      Корзина пустая, поэтому корзина скучает... :(
    </p>
  </ng-template>
</div>
