<app-navbar></app-navbar>
<div class="conteiner">
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
  <div class="card-wrapper">  <app-product></app-product> </div>
</div>

