<p-card class="product"
  styleClass="p-card-shadow"
  [style]="{ width: '320px', height: '400px', marginBottom: '10px' }"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="{{url}}/{{ product.img }}"
      [style]="{ width: '100%', height: '200px', objectFit: 'cover' }"
    />
  </ng-template>

  <ng-template pTemplate="title">{{ product.name }}</ng-template>
  <ng-template pTemplate="subtitle">{{ product.price }}</ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Открыть"
      [routerLink]="['/product', product.id]"
    ></p-button>

<!--    <ng-container *ngTemplateOutlet="addButton"></ng-container>-->

    <div *ngIf="cartR === true; else addButton ">
<!--    <div *ngFor="let longOrder of longOrders">-->
<!--      <div *ngIf="longOrder.product.id === product.id ">-->
        <p-inputNumber [ngModel]="longOrder.count" mode="decimal"
                       [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="100"
                       (ngModelChange)="cartService.changeCount(longOrder.product.id, $event)">
        </p-inputNumber>
      </div>
<!--    </div>-->
<!--    </div>-->
  </ng-template>

  <ng-template #addButton>
    <button
      pButton
      pRipple
      type="button"
      label="В корзину"
      class="p-button-danger"
      (click)="addToCart(product.id)"
    ></button>
  </ng-template>

</p-card>

<!--  [style]="{width: '360px', height: '360px'}"-->
