
  <p-card header="Iphone 12pro" subheader="60000руб"  styleClass="p-card-shadow" [style]="{width: '320px', height: '380px', marginBottom: '10px'}">
    <ng-template pTemplate="header">
          <img alt="Card" src="http://localhost:5000/132a454c-c47a-4462-90e3-e5eb9c6cbd99.jpg" [style]="{width: '100%', height: '200px', objectFit: 'cover'}">
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Открыть"></p-button>
      <p-button label="В корзину"></p-button>
    </ng-template>
  </p-card>



<!--  [style]="{width: '360px', height: '360px'}"-->
